body.article {
  padding-top: 5rem;
  background: #f4d647;
}
.article h1 {
  text-align: center;
  padding-bottom: 2rem;
}
.article h2 {
  padding-bottom: 1rem;
}
.article h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}